.background-distrib {
    background: linear-gradient(
        90deg,
        #c7daff 0.64%,
        #2362e0 100%,
        rgba(56, 123, 255, 0) 100%
    );
}

.background-progressif {
    background: linear-gradient(
        90deg,
        #dedede 0%,
        rgba(151, 151, 151, 0) 150.94%
    );
}

.min-width-4 {
    min-width: 1rem;
}
