.backgroundGraph {
    background: linear-gradient(
        124.98deg,
        rgba(255, 255, 255, 0.0658) -8.04%,
        rgba(255, 250, 250, 0.0035) 107.11%
    );
    box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.4188px);
}
