.backgroundImgDesk {
    position: relative;
    z-index: 1;
}

.backgroundImgDesk::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../assets/spiral.png");
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .backgroundImgDesk::before {
        background: none;
    }
}
