@media (min-width: 768px) {
  .slider-background {
    background: radial-gradient(ellipse, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
  }
}

.arrow {
  width: 30px;
  fill: #fff;
  @media (min-width: 768px) {
    width: 62px;
  }

  &-wrapper {
    @apply absolute top-0 cursor-pointer h-full flex;
  }

  &--left {
    left: 0;
    padding-left: 4px;
    @media (min-width: 768px) {
      padding-left: 24px;
    }
  }
  &--right {
    left: auto;
    right: 0px;
    padding-right: 4px;
    @media (min-width: 768px) {
      padding-right: 24px;
    }
  }
  &--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}