.gradient-black {
  background: linear-gradient(132.03deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 250, 250, 0) 119.39%);
  filter: drop-shadow(0px 4px 43px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(15.4188px);
  border: 1px solid rgba(255, 255, 255, 0.534);
}

.gradient-red {
  background: linear-gradient(0deg, #FF2B2B 0%, rgba(255, 0, 0, 0) 100%);
}

.divider {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 0;
  border: 0.5px solid #545455;

  @media (min-width: 640px) {
    bottom: 34px;
  }
}
.bar {
  @apply relative w-7 overflow-hidden bg-black
    before:absolute before:w-full
    sm:w-10;
  height: var(--bar-height);

  &-top {
    background: linear-gradient(180deg, #1C4699 37.5%, rgba(56, 123, 255, 0) 100%);
    @apply bottom-0;
  }
}