.opportunities-background {
    background: linear-gradient(41.26deg, #1C4699 -129.34%, rgba(28, 70, 153, 0) 96.04%);
    opacity: 0.8;
    box-sizing: border-box;
    filter: blur(200px);
    transform: rotate(-84.89deg);
}