@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Thin.ttf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-ExtraLight.ttf");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("/fonts/Geomanist-Black.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
        
    