@import url(./GeomanistFont.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
}
body {
    height: 100vh;
    overflow-x: hidden;
    background-color: #090909;
}

.calendly-inline-widget {
    height: 750px !important;
    width: 100%;
}

.calendly-inline-widget::-webkit-scrollbar {
    display: none;
}

.line1,
.line2 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden;
}

.line1 {
    border-right: 0.15rem solid white;
    animation: animated-text__1 2s steps(30, end),
        animated-cursor__1 0.5s step-end forwards;
}

.line2 {
    border-right: none;
    animation: animated-text__2 2s steps(30, end) 1s 1 normal both,
        animated-cursor__2 0.5s steps(30, end) infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@keyframes animated-cursor__1 {
    from {
        border-right: 0.15rem solid white;
    }
    to {
        /* border-right: 0.15rem solid transparent; */
        border-right: none;
    }
}

@keyframes animated-cursor__2 {
    from,
    to {
        border-right: 0.15rem solid transparent;
    }
    50% {
        border-right-color: white;
    }
}

@keyframes animated-text__1 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes animated-text__2 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@layer components {
    .title-gradient {
        background: radial-gradient(
            122.98% 119.92% at 50% 50%,
            #1c4699 -50%,
            rgba(28, 70, 156, 0) 30%,
            rgba(28, 70, 153, 0) 100%
        );
    }
    .main-title {
        @apply text-center text-2xl font-medium text-white  md:text-4xl;
        &.hero {
            @apply lg:text-5xl;
        }
    }

    .subtitle-text {
        @apply text-sm font-light text-gray-400 md:text-base md:font-light;
    }

    .page-section {
        @apply mx-auto w-full max-w-7xl px-4 pt-10 pb-20 md:px-6;
        &.hero {
            @apply min-h-[calc(100vh-76px)] lg:min-h-[calc(100vh-96px)];
        }

        &.last {
            @apply pb-52;
        }
    }

    .hero-image-block-wrapper {
        @apply col-span-12 flex h-full w-full items-center justify-center md:col-span-4 md:col-start-8;
        .hero-image-block {
            @apply relative w-4/6 max-w-[240px] md:w-full md:max-w-xs;
            .hero-text-block {
                @apply absolute z-10 flex w-fit items-center rounded-full bg-white p-1 pr-3 text-xs text-black md:p-2 md:text-sm;
                &-no-icon {
                    @apply pl-3;
                }
            }

            .hero-icon {
                @apply absolute z-10 h-20 w-20 xl:h-24 xl:w-24;
            }
        }
    }

    .hero-text-block-wrapper {
        @apply md:title-gradient col-span-12 mt-5 flex h-full w-full flex-col items-center justify-center md:col-span-5 md:col-start-2 md:row-start-1 md:mt-0;
        .hero-text-subtitle {
            @apply my-5 text-center text-2xl font-light text-white;
        }
        .hero-text-author {
            @apply mb-5 text-gray-400 lg:text-xl;
        }
    }

    .blue-button {
        @apply rounded-full bg-blue-900 px-8 py-3 text-sm text-white hover:bg-white hover:text-blue-900;
    }

    .c-tooltip.tooltip-container {
        @apply max-w-xs rounded-2xl p-3 text-justify text-sm text-white;
        background: #000;
    }

    .backgroundCard {
        background: linear-gradient(
            159.94deg,
            rgba(7, 31, 79, 0.91) 2.02%,
            rgba(31, 82, 179, 0.06) 89.4%
        );
    }

    .backgroundFifth {
        background: linear-gradient(
            132.03deg,
            rgba(255, 255, 255, 0.07) 0%,
            rgba(255, 250, 250, 0) 119.39%
        );
    }

    .backgroundImgHero {
        background: url("../assets/profil.png");
    }

    .translate {
        transform: translate(-50%, -50%);
    }

    .backgroundCardManagers {
        background: linear-gradient(
            159.94deg,
            rgba(7, 31, 79, 0.91) 2.02%,
            rgba(31, 82, 179, 0.06) 89.4%
        );
    }

    .hideScrollBar::-webkit-scrollbar {
        display: none;
    }

    .imgPolygon {
        clip-path: polygon(
            25% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            25% 100%,
            0% 50%
        );
        display: inline-block;
        width: 150px;
        margin: 20px;
        filter: url(#round);
    }

    .backgroundImg {
        background: url("../assets/colbrFuture/Ellipse_7904.png");
        background-position: top 99px left 50%;
        background-size: cover;
    }

    .backgroundCardService {
        background: linear-gradient(
            159.94deg,
            rgba(7, 31, 79, 0.91) 2.02%,
            rgba(31, 82, 179, 0.06) 89.4%
        );
        box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15.4188px);
    }

    .backGroundPrivate {
        background: url("../assets/Private-Equity/funnel.svg");
    }

    .backGroundImg1 {
        background: url("../assets/Immobilier/1.svg");
    }
}
